<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Panun-Blog</title>
  <meta charset="utf-8">
  <meta name="description" content="The Panun Blog is a multimedia platform that is aimed at providing an inclusive platform for the people of Kashmir and elsewhere. Our vision is to facilitate a channel of healthy discourse and debate within the Kashmiri community. Truth, in the contemporary world, cannot be found in a black and white contrast. It is hidden somewhere in the shades of grey. We aspire to strive hard to put out the different shades of truth in the virtual domain, while fostering an atmosphere where the voices of the most disadvantaged and repressed sections of the society are amplified so that their words and views are given a fair hearing that they rightfully deserve. Here you will discover the unsung, blooming intellectuals of our time, who by the sheer power of their pen illuminate the dark corners of our world.

  The word Panun finds its roots in the Kashmiri jargon, meaning 'one's own'.">
  
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles.scss">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
      
 

  <body>
    
    <div class="container">
