<%- include("partials/header"); -%>
  <h1 class="headings">Contact Us</h1>
  <p class="abt-p">Hey! want to skip the formalities and contact me directly? I will be happy to answer your queries on my personal social media handles. Feel free to reach out for any suggestions and assistance from my side. Join the Panun Family today!</p>
  <div class="wrapper">
    <div class="icon facebook">
        <a href="mailto:contact@thepanunblog.com">

            <div class="tooltip">
               Gmail
            </div>
            <span><i class=" fab fa-gofore"></i></span>
        </a>
    </div>
    <div class="icon twitter">
        <a href="https://twitter.com/yeahitsahmed?t=nss8kH6qp6wWPlokZlnMIg&s=09" target="_blank" rel="noopener">
            <div class="tooltip">
               Twitter
            </div>
            <span><i class="fab fa-twitter"></i></span>

        </a>
    </div>
    <div class="icon instagram">
        <a href="https://www.instagram.com/stfu.ahmed/?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener">
            <div class="tooltip">
               Instagram
            </div>
            <span><i class="fab fa-instagram"></i></span>
         </div>

        </a>

    
    <div class="icon youtube">
        <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQEiEh7KnfRYUgAAAYArexAY-A-937gQi1KsPaZiJixHYmIB6AuGqXtAA7r0LYJ6ETLrDMDWp1SSvgxBc8Ed_PofsD5MetbMbk5FEEG0q8NfBdGkvhpmjxkHIWpe6DBOUUJqJN0=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fahmadpathan" target="_blank" rel="noopener">

            <div class="tooltip">
              LinkedIn
            </div>
            <span><i class="fab fa-linkedin"></i></span>
         </div>
        </a>
 </div>
 <p class="abt-m abt-p">Want to skip the formalities and contact me directly? I will be happy to answer your queries on my personal social media handles. Feel free to reach out for any suggestions and assistance from my side. Join the Panun Family today!</p>

 <div class="rtn">
    <a href="/" >Return To Home Page</a>
  </div>
  <%- include("partials/footer"); -%>
