
<%- include("partials/header"); -%>


    <h1 class="headings"><%=title%></h1>
    <p class="abt-p"><%=content%></p>

    <div class="rtn">
        <a href="/" >Return To Home Page</a>
      </div>

<%- include("partials/footer"); -%>
